In [1]:
import pandas as pd
from pathlib import Path

In [2]:
X = pd.read_parquet(Path()/".tmp"/"train.parquet")
y = pd.read_parquet(Path()/".tmp"/"train_labels.parquet")

In [5]:
display(X.head())
y.head()

,session_id,index,elapsed_time,event_name,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group
0,20090312431273200,0,0,cutscene_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,undefined,intro,tunic.historicalsociety.closet,tunic.historicalsociety.closet.intro,0,0,1,0-4
1,20090312431273200,1,1323,person_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,"Whatcha doing over there, Jo?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
2,20090312431273200,2,831,person_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,Just talking to Teddy.,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
3,20090312431273200,3,1147,person_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,I gotta run to my meeting!,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
4,20090312431273200,4,1863,person_click,basic,0,NaN,-412.991405,-159.314686,381.0,494.0,NaN,"Can I come, Gramps?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4

          session_id  question_id  correct
0  20090312431273200            1        1
1  20090312433251036            1        0
2  20090312455206810            1        1
3  20090313091715820            1        0
4  20090313571836404            1        1

There is a set of events for each session.

In [ ]:
X["session_id"].value_counts()

session_id
20110310463989760    19032
20110515090304556     6000
21110313432157404     5435
21010312074134348     4803
20110219555923044     4743
                     ...
21030218335394260      639
21000013055772070      637
21030108504475890      635
20110112402567744      634
22000610592348800      591
Name: count, Length: 23562, dtype: int64

## Session structure

Consider what happens in a single session.

In [4]:
my_session = X[X["session_id"] == 20090312431273200].sort_values("elapsed_time")

In [5]:
X

,session_id,index,elapsed_time,event_name,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group
0,20090312431273200,0,0,cutscene_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,undefined,intro,tunic.historicalsociety.closet,tunic.historicalsociety.closet.intro,0,0,1,0-4
1,20090312431273200,1,1323,person_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,"Whatcha doing over there, Jo?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
2,20090312431273200,2,831,person_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,Just talking to Teddy.,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
3,20090312431273200,3,1147,person_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,I gotta run to my meeting!,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
4,20090312431273200,4,1863,person_click,basic,0,NaN,-412.991405,-159.314686,381.0,494.0,NaN,"Can I come, Gramps?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26296941,22100221145014656,1600,5483231,navigate_click,undefined,22,NaN,343.887291,36.701026,483.0,273.0,NaN,None,None,tunic.capitol_2.hall,None,0,0,1,13-22
26296942,22100221145014656,1601,5485166,navigate_click,undefined,22,NaN,332.696070,141.493178,545.0,221.0,NaN,None,chap4_finale_c,tunic.capitol_2.hall,None,0,0,1,13-22
26296943,22100221145014656,1602,5485917,navigate_click,undefined,22,NaN,369.912859,140.569205,611.0,217.0,NaN,None,None,tunic.capitol_2.hall,None,0,0,1,13-22
26296944,22100221145014656,1603,5486753,navigate_click,undefined,22,NaN,252.299653,123.805889,526.0,232.0,NaN,None,chap4_finale_c,tunic.capitol_2.hall,None,0,0,1,13-22
26296945,22100221145014656,1604,5487952,checkpoint,basic,22,NaN,NaN,NaN,NaN,NaN,NaN,None,chap4_finale_c,tunic.capitol_2.hall,None,0,0,1,13-22

In [11]:
y.loc[y["id"] == 20090312431273200]

Empty DataFrame
Columns: [id, question, correct]
Index: []

In [18]:
y["id"].astype(int)

0         20090312431273200
1         20090312433251036
2         20090312455206810
3         20090313091715820
4         20090313571836404
                ...
424111    22100215342220508
424112    22100215460321130
424113    22100217104993650
424114    22100219442786200
424115    22100221145014656
Name: id, Length: 424116, dtype: int64

In [14]:
y["id"] == 20090312431273200

0         False
1         False
2         False
3         False
4         False
          ...
424111    False
424112    False
424113    False
424114    False
424115    False
Name: id, Length: 424116, dtype: bool

In [17]:
y.iloc[0]["id"]

'20090312431273200'

In [12]:
y

                       id question  correct
0       20090312431273200        1        1
1       20090312433251036        1        0
2       20090312455206810        1        1
3       20090313091715820        1        0
4       20090313571836404        1        1
...                   ...      ...      ...
424111  22100215342220508       18        1
424112  22100215460321130       18        1
424113  22100217104993650       18        1
424114  22100219442786200       18        1
424115  22100221145014656       18        1

[424116 rows x 3 columns]

In [8]:
my_session["level"].value_counts().sort_index()

level
0      28
1      32
2      39
3      53
4      13
5      18
6      81
7      44
8      36
9      35
10     15
11     57
12     10
13     40
14     15
15     42
16     42
17     34
18    133
19     33
20     30
21     44
22      7
Name: count, dtype: int64