In [1]:
import pandas as pd
from pathlib import Path

In [2]:
X = pd.read_parquet(Path()/".tmp"/"train.parquet")
y = pd.read_parquet(Path()/".tmp"/"train_labels.parquet")

In [3]:
display(X.head())
y.head()

,session_id,index,elapsed_time,event_name,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group
0,20090312431273200,0,0,cutscene_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,undefined,intro,tunic.historicalsociety.closet,tunic.historicalsociety.closet.intro,0,0,1,0-4
1,20090312431273200,1,1323,person_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,"Whatcha doing over there, Jo?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
2,20090312431273200,2,831,person_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,Just talking to Teddy.,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
3,20090312431273200,3,1147,person_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,I gotta run to my meeting!,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
4,20090312431273200,4,1863,person_click,basic,0,NaN,-412.991405,-159.314686,381.0,494.0,NaN,"Can I come, Gramps?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4

          session_id  question_id  correct
0  20090312431273200            1        1
1  20090312433251036            1        0
2  20090312455206810            1        1
3  20090313091715820            1        0
4  20090313571836404            1        1

There is a set of events for each session.

In [4]:
X["session_id"].value_counts().rename("Count").to_frame()

                   Count
session_id
20110310463989760  19032
20110515090304556   6000
21110313432157404   5435
21010312074134348   4803
20110219555923044   4743
...                  ...
21030218335394260    639
21000013055772070    637
21030108504475890    635
20110112402567744    634
22000610592348800    591

[23562 rows x 1 columns]

Identify categorial features.

In [5]:
X.apply(lambda col: col.nunique()).rename("Count").to_frame()

                   Count
session_id         23562
index              20348
elapsed_time     5042639
event_name            11
name                   6
level                 23
page                   7
room_coor_x     17438693
room_coor_y     13651023
screen_coor_x      57924
screen_coor_y     102591
hover_duration     24101
text                 597
fqid                 128
room_fqid             19
text_fqid            126
fullscreen             2
hq                     2
music                  2
level_group            3

## Session structure

Consider what happens in a single session.

In [4]:
my_session = X[X["session_id"] == 20090312431273200].sort_values("elapsed_time")

In [8]:
y.loc[y["session_id"] == 20090312431273200]

               session_id  question_id  correct
0       20090312431273200            1        1
23562   20090312431273200            2        1
47124   20090312431273200            3        1
70686   20090312431273200            4        1
94248   20090312431273200            5        1
117810  20090312431273200            6        1
141372  20090312431273200            7        1
164934  20090312431273200            8        1
188496  20090312431273200            9        1
212058  20090312431273200           10        1
235620  20090312431273200           11        1
259182  20090312431273200           12        1
282744  20090312431273200           13        0
306306  20090312431273200           14        1
329868  20090312431273200           15        1
353430  20090312431273200           16        0
376992  20090312431273200           17        1
400554  20090312431273200           18        1